@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-size: 3vw;
  letter-spacing: 2.5px;
  word-spacing: 2.5px;
  font-weight: bold;
}

@media (max-width : 640px) {
  h1 {
    font-size: 4vw;
  }
}

.social-text {
  font-size: medium;
  font-weight: bolder;
}

/* Glass Element */
.glass {
  /* From https://css.glass */
  background: rgba(87, 87, 87, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(87, 87, 87, 0.100);
}

/* Gradient Text */
.gradient-text {
  font-size: 8vw;
  font-weight: bold;
  background: linear-gradient(90deg, #b2385d, #fd6e4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 5s infinite ease-in-out
}

@media (max-width : 640px) {
  .gradient-text {
    font-size: 9vw;
  }
}

/* Animated Background */
.animated-background {
  background: linear-gradient(to right, #131313, #2c1d1d, #362222);
  background-size: 400% 400%;
  animation: animate-background 20s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/*@layer components {
  #gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #000000;
    --gradient-color-2: #271c1c;
    --gradient-color-3: #371616;
    --gradient-color-4: #480505;
  }
}

// Gradient mesh per light theme
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #808080; 
  --gradient-color-2: #a79c9c; 
  --gradient-color-3: #b79696;  
  --gradient-color-4: #c68686;
}
*/